{% extends 'base.html.twig' %}
{% block title %}Subcategorías{% endblock %}
{% block body %}
    <div class="app-toolbar align-items-center justify-content-between">
        <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2 mb-n10" id="kt_toolbar">
            <div class="d-flex flex-column align-items-start me-3 gap-2">
                <h1 class="d-flex text-dark fw-bolder m-0 fs-3">Subcategorías de la categoría "{{ categoria.nombre }}"</h1>
                <ul class="breadcrumb breadcrumb-dot fw-bold text-gray-600 fs-7">
                    <li class="breadcrumb-item text-gray-600">
                        <a href="{{ path('app_index') }}" class="text-gray-600 text-hover-primary">Inicio</a>
                    </li>
                    <li class="breadcrumb-item text-gray-600">
                        <a href="{{ path('categories_index') }}" class="text-gray-600 text-hover-primary">Categorías</a>
                    </li>
                    <li class="breadcrumb-item text-gray-600">Subcategorías</li>
                </ul>
            </div>
            <div class="align-items-center py-2">
                <a href="{{ path('categories_index') }}" class="btn btn-sm btn-primary" >
                    Volver al listado de categorías</a>

                <a href="#" class="btn btn-sm btn-primary btn-flex" data-bs-toggle="modal" data-bs-target="#kt_crearCategoria" id="kt_toolbar_primary_button">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                        </svg>
                    </span>
                    Añadir subcategoría</a>
            </div>
        </div>
    </div>

    <div class="app-content flex-column-fluid" id="kt_app_content">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-rounded table-striped table-row-bordered border gy-7 gs-7">
                        <thead>
                            <tr>
                                <th>SUBCATEGORÍA</th>
                                <th width="50px">DETALLE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for objeto in subcategorias %}
                                <tr>
                                    <td>{{ objeto.nombre }}</td>
                                    <td class="text-center align-middle">
                                        <a class="btn btn-primary btn-icon" href="{{ path('subcategories_show',{'id':categoria.id,'sub':objeto.id}) }}">
                                            <i class="las la-eye fs-2x"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
            <div class="card-footer">
                <div class="navigation">
                    {{ knp_pagination_render(subcategorias) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kt_crearCategoria" tabindex="-1" aria-labelledby="crearCategoriaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir nueva subcategoría</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="categoria" class="form-label">Subcategoría</label>
                            <input type="text" name="subcategoria" required class="form-control" id="categoria" autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Añadir subcategoría</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}