{% extends 'base.html.twig' %}
{% block title %}Detalle del proveedor{% endblock %}
{% block body %}
    <div class="app-toolbar align-items-center justify-content-between">
        <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2 mb-n10" id="kt_toolbar">
            <div class="d-flex flex-column align-items-start me-3 gap-2">
                <h1 class="d-flex text-dark fw-bolder m-0 fs-3">Detalle del proveedor</h1>
                <ul class="breadcrumb breadcrumb-dot fw-bold text-gray-600 fs-7">
                    <li class="breadcrumb-item text-gray-600">
                        <a href="{{ path('app_index') }}" class="text-gray-600 text-hover-primary">Inicio</a>
                    </li>
                    <li class="breadcrumb-item text-gray-600">
                        <a href="{{ path('suppliers_index') }}" class="text-gray-600 text-hover-primary">Proveedores</a>
                    </li>
                    <li class="breadcrumb-item text-gray-600">Detalle del proveedor</li>
                </ul>
            </div>
            <div class="d-flex align-items-center py-2">
                <a href="{{ path('suppliers_index') }}" class="btn btn-sm btn-primary" >
                    Volver al listado de proveedores</a>
            </div>
        </div>
    </div>

    <div class="app-content flex-column-fluid" id="kt_app_content">
        <div class="card">
            <form action="" method="post">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="proveedor" class="form-label">Proveedor</label>
                        <input type="text" name="proveedor" value="{{ proveedor.nombre }}" class="form-control" id="proveedor" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" name="direccion" value="{{ proveedor.direccion }}" class="form-control" id="direccion" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <input type="text" name="descripcion" value="{{ proveedor.descripcion }}" class="form-control" id="descripcion" autocomplete="off">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Guardar modificación</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}