{% extends 'base.html.twig' %}
{% block title %}Traslados{% endblock %}
{% block body %}
    <div class="app-toolbar align-items-center justify-content-between">
        <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2 mb-n10" id="kt_toolbar">
            <div class="d-flex flex-column align-items-start me-3 gap-2">
                <h1 class="d-flex text-dark fw-bolder m-0 fs-3">Traslados del almacén "{{ almacen.nombre }}"</h1>
                <ul class="breadcrumb breadcrumb-dot fw-bold text-gray-600 fs-7">
                    <li class="breadcrumb-item text-gray-600">
                        <a href="{{ path('app_index') }}" class="text-gray-600 text-hover-primary">Inicio</a>
                    </li>
                    <li class="breadcrumb-item text-gray-600">Traslados</li>
                </ul>
            </div>
            <div class="align-items-center py-2">
                <a href="#" class="btn btn-sm btn-primary btn-flex" data-bs-toggle="modal" data-bs-target="#kt_crearTraslado" id="kt_toolbar_primary_button">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                        </svg>
                    </span>
                    Realizar traslado</a>
            </div>
        </div>
    </div>

    <div class="app-content flex-column-fluid" id="kt_app_content">
        <form action="" method="get">
            <div class="card mb-7">
                <div class="card-body">
                    <div class="d-flex align-items-center row">
                        <div class="col-12 col-lg-3 col-md-4 position-relative">
                            <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                <span>Tipo de fecha</span>
                            </label>
                            <select name="tipoFecha" class="form-select form-select-solid" data-control="select2" data-hide-search="true" data-placeholder="Tipo de fecha">
                                <option value="fecha" {% if tipoFecha == "fecha" %}selected{% endif %}>Traslado</option>
                                <option value="fechaCreado" {% if tipoFecha == "fechaCreado" %}selected{% endif %}>Registro</option>
                            </select>
                        </div>
                        <div class="col-12 col-lg-3 col-md-4 position-relative">
                            <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                <span>Desde</span>
                            </label>
                            <input type="text" value="{{ desde | date('d-m-Y') }}" class="form-control form-control-lg form-control-solid" id="kt_flatpickr" name="desde" />
                        </div>
                        <div class="col-12 col-lg-3 col-md-4 position-relative">
                            <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                <span>Hasta</span>
                            </label>
                            <input type="text" value="{{ hasta | date('d-m-Y') }}" class="form-control form-control-lg form-control-solid" id="kt_flatpickr" name="hasta" />
                        </div>
                        <div class="col-3">
                            <div class="d-flex align-items-center">
                                <button type="submit" class="btn btn-primary me-5">Buscar</button>
                                <a id="kt_horizontal_search_advanced_link" class="btn btn-link" data-bs-toggle="collapse" href="#kt_advanced_search_form">Búsqueda avanzada</a>
                            </div>
                        </div>
                    </div>
                    {% if categoria or producto or almacenB or id == "0" or id %}
                        {% set buscadorAvanzado = "show" %}
                    {% else %}
                        {% set buscadorAvanzado = "" %}
                    {% endif %}
                    <div class="collapse {{ buscadorAvanzado }}" id="kt_advanced_search_form">
                        <div class="separator separator-dashed mt-9 mb-6"></div>
                        <div class="row g-8">
                            <div class="col-3">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span>Producto</span>
                                </label>
                                <input type="text" class="form-control form-control-solid ps-10" name="producto" value="{{ producto }}" placeholder="Producto/Código/Referencia/Código de barras" />
                            </div>
                            <div class="col-3">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span>ID producto</span>
                                </label>
                                <input type="number" min="1" class="form-control form-control-solid ps-10" name="id" value="{{ id }}" placeholder="ID" />
                            </div>
                            <div class="col-3">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span>Categoría</span>
                                </label>
                                <select name="categoria" class="form-select form-select-solid" data-placeholder="Categoría">
                                    <option value="">---</option>
                                    {% for objeto in categorias %}
                                        <option value="{{ objeto.id }}" {% if objeto.id == categoria %}selected{% endif %}>{{ objeto }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-3">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span>Almacén</span>
                                </label>
                                <select name="almacenB" class="form-select form-select-solid" data-placeholder="Almacén">
                                    <option value="">---</option>
                                    {% for objeto in almacenes %}
                                        <option value="{{ objeto.id }}" {% if objeto.id == almacenB %}selected{% endif %}>{{ objeto.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-rounded table-striped table-row-bordered border gy-7 gs-7">
                        <thead>
                            <tr>
                                <th>ALMACÉN</th>
                                <th>FECHA</th>
                                <th>PRODUCTOS</th>
                                <th width="50px">DETALLE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for objeto in traslados %}
                                <tr>
                                    <td>
                                        {{ objeto.almacenA }} -> {{ objeto.almacenB }}
                                        {% if objeto.observaciones %}{{ objeto.observaciones }}{% endif %}
                                    </td>
                                    <td>{{ objeto.fecha | date('d-m-Y') }}</td>
                                    <td>
                                        <table class="table table-hover table-rounded table-striped table-row-bordered border gy-7 gs-7">
                                            <tbody>
                                                {% for producto in objeto.lotes %}
                                                    <tr>
                                                        <td>{{ producto.lote.producto.producto }}</td>
                                                        <td>{{ producto.cantidad }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table> 
                                    </td>
                                    <td class="text-center align-middle">
                                        <a class="btn btn-primary btn-icon" href="{{ path('warehouse_transfer_show',{'almacen':almacen.id,'id':objeto.id}) }}">
                                            <i class="las la-eye fs-2x"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
            </div>
            <div class="card-footer">
                <div class="navigation">
                    {{ knp_pagination_render(traslados) }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="kt_crearTraslado" aria-labelledby="crearTrasladoLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <form action="" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Realizar traslado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 col-md-4 mb-3">
                                                <div class="form-group">
                                                    <label class="form-label">Fecha:</label>
                                                    <input value="{{ 'now' | date('d-m-Y') }}" name="fecha" type="text" class="form-control" id='kt_flatpickr' required pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])-(0[1-9]|1[012])-[0-9]{4}" title="La fecha debe formarse como dd-mm-yyyy">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4 mb-3">
                                                <label for="almacenB" class="form-label">Almacén:</label>
                                                <select name="almacenB" class="form-select form-select-solid" select2="almacenB" data-kt-select2="true" data-placeholder="Seleccionar">
                                                    {% for objeto in almacenes %}
                                                        <option value="{{ objeto.id }}">{{ objeto.nombre }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-4 mb-3">
                                                <div class="form-group">
                                                    <label class="form-label">Observaciones:</label>
                                                    <textarea name="observaciones" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-5 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Buscador</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12 col-md-12">
                                                    <div class="form-group">
                                                        <label for="categoria" class="form-label">Categoría</label>
                                                        <select name="categoria" id="categoria" class="form-select form-select-solid" select2="categoria2" data-kt-select2="true" data-placeholder="Seleccionar">
                                                            <option value=" ">---</option>
                                                            {% for objeto in categorias %}
                                                                <option value="{{ objeto.id }}">{{ objeto }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12 mt-3">
                                                    <div class="form-group">
                                                        <label class="form-label">Subcategoría:</label>
                                                        <select name="subcategoria" class="form-select form-select-solid" id="subcategoria" >
                                                            <option data-categoria="0" value="">---</option>
                                                            {% for objeto in subcategorias %}
                                                                <option data-categoria="{{ objeto.categoria.id }}" value="{{ objeto.id }}">{{ objeto.nombre }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 mt-3">
                                                    <div class="form-group">
                                                        <select name="tipo" id="tipo" class="form-select form-select-solid" >
                                                            <option value="nombre">Nombre</option>
                                                            <option value="codigo">Código</option>
                                                            <option value="referencia">Referencia</option>
                                                            <option value="codigoBarra">Código de barras</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 mt-3">
                                                    <div class="form-group">
                                                        <input name="referencia" id="referencia" type="text" class="form-control" />
                                                        <input type="hidden" name="almacen" value="{{ almacen.id }}" class="form-control" id="almacen" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div id="alerta-producto" style="display: none;">
                                                    <div class="col-12 col-md-12 mt-3">
                                                        <div class="alert alert-warning mt-10" role="alert">
                                                            <strong>No existe ningún producto con las características buscadas.</strong> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <hr />
                                                    <div class="table-responsive" id="tabla" style="display: none;">
                                                        <table class="table table-hover table-rounded table-striped table-row-bordered border gy-7 gs-7">
                                                            <thead>
                                                                <tr>
                                                                    <th>FOTO</th>
                                                                    <th>PRODUCTO</th>
                                                                    <th>LOTE</th>
                                                                    <th width="50px">AÑADIR</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="productos"></tbody>
                                                        </table> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-12 col-lg-7 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Lotes</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-12 col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-rounded table-striped table-row-bordered border gy-7 gs-7">
                                                            <thead>
                                                                <tr>
                                                                    <th>FOTO</th>
                                                                    <th>NOMBRE</th>
                                                                    <th>LOTE</th>
                                                                    <th>CANTIDAD</th>
                                                                    <th width="50px">QUITAR</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="traslado"></tbody>
                                                        </table> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="boton" value="guardar" class="btn btn-primary">Guardar datos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ asset('javascript/traslado.js') }}"></script>
    <script>
        categoriajs();
    </script>
{% endblock %}