{% extends 'base.html.twig' %}
{% block title %}Mi perfil{% endblock %}
{% block body %}
    <div class="app-toolbar align-items-center justify-content-between">
        <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2 mb-n10" id="kt_toolbar">
            <div class="d-flex flex-column align-items-start me-3 gap-2">
                <h1 class="d-flex text-dark fw-bolder m-0 fs-3">Mi perfil</h1>
                <ul class="breadcrumb breadcrumb-dot fw-bold text-gray-600 fs-7">
                    <li class="breadcrumb-item text-gray-600">
                        <a href="{{ path('app_index') }}" class="text-gray-600 text-hover-primary">Inicio</a>
                    </li>
                    <li class="breadcrumb-item text-gray-600">Mi perfil</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="app-content flex-column-fluid" id="kt_app_content">
        <div class="card">
            <form action="" method="post">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" name="nombre" value="{{ app.user.nombre }}" class="form-control" id="nombre" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" name="apellidos" value="{{ app.user.apellidos }}" class="form-control" id="apellidos" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="usuario" class="form-label">Usuario</label>
                        <input type="text" disabled value="{{ app.user.username }}" class="form-control" id="usuario">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="email" name="email" value="{{ app.user.email }}" class="form-control" id="email" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-control" id="password" autocomplete="off">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}